There are several ways to perform an insert with SQLAlchemy; however, we are going to focus on the one that follows the same pattern as the select statement.

It uses an insert statement where you specify the table as an argument, and supply the data you wish to insert into the value via the .values() method as keyword arguments.

Here, the name of the table is data.

In [55]:
# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean, MetaData, create_engine

In [56]:
engine = create_engine('sqlite:///:memory:')

In [57]:
metadata = MetaData()

In [58]:
# Define a new table with a name, count, amount, and valid column: data
data = Table('data', metadata, Column('name', String(255), unique=True),
             Column('count', Integer(), default=1), Column('amount', Float()),
             Column('valid', Boolean(), default=False))

In [59]:
# Use the metadata to create the table
metadata.create_all(engine)

### Import insert and select from the sqlalchemy module.

In [60]:
# Import insert and select from sqlalchemy
from sqlalchemy import insert, select

### Build an insert statement for the data table to set name to 'Anna', count to 1, amount to 1000.00, and valid to True. Save the statement as stmt

In [67]:
# Build an insert statement to insert a record into the data table: stmt
stmt = insert(data).values(name='Anna', count=1, amount=1000.00, valid=True)

In [62]:
connection = engine.connect()

### Execute stmt with the connection and store the results.

In [63]:
# Execute the statement via the connection: results
results = connection.execute(stmt)

### Print the rowcount attribute of results to see how many records were inserted.

In [64]:
# Print result rowcount
print(results.rowcount)

1

### Build a select statement to query for the record with the name of 'Anna'.

In [65]:
# Build a select statement to validate the insert
stmt = select([data]).where(data.columns.name == 'Anna')

In [66]:
# Print the result of executing the query.
print(connection.execute(stmt).first())

('Anna', 1, 1000.0, True)