The update statement is very similar to an insert statement, except that it also typically uses a where clause to help us determine what data to update. You'll be using the FIPS state code using here, which is appropriated by the U.S. government to identify U.S. states and certain other associated areas. Recall that you can update all wages in the employees table as follows:

>stmt = update(employees).values(wage=100.00)

For your convenience, the names of the tables and columns of interest in this exercise are: state_fact (Table), name (Column), and fips_state (Column).

In [17]:
# Import update
from sqlalchemy import create_engine, MetaData,select, func,Table,update

In [18]:
# Create an engine that connects to the census.sqlite file: engine
engine = create_engine('sqlite:///census.sqlite')

In [19]:
metadata=MetaData()

In [20]:
# Reflect census table from the engine: census
state_fact = Table('state_fact',metadata,autoload=True,autoload_with=engine)

### Build a statement to select all columns from the state_fact table where the name column is New York. Call it select_stmt

In [21]:
# Build a select statement: select_stmt
select_stmt = select([state_fact]).where(state_fact.columns.name == 'New York')

### Print the results of executing the select_stmt and fetching all records.

In [22]:
connection=engine.connect()

In [23]:
# Print the results of executing the select_stmt
print(connection.execute(select_stmt).fetchall())

[('32', 'New York', 'NY', 'USA', 'state', '10', 'current', 'occupied', '', '36', 'N.Y.', 'II', '1', 'Northeast', '2', 'Mid-Atlantic', '2')]

### Build an update statement to change the fips_state column code to 36, save it as stmt.

In [29]:
# Build a statement to update the fips_state to 36: stmt
stmt = update(state_fact).values(fips_state = 36)
    #update just column name not the state_fact.columns.name

### Use a where clause to filter for states with the name of 'New York' in the state_fact table.

In [25]:
# Append a where clause to limit it to records for New York state
stmt = stmt.where(state_fact.columns.name == 'New York')

### Execute stmt via the connection and save the output as results.

In [26]:
# Execute the statement: results
results = connection.execute(stmt)

In [27]:
# Print rowcount
print(results.rowcount)

1

In [28]:
# Execute the select_stmt again to view the changes
print(connection.execute(select_stmt).fetchall())

[('32', 'New York', 'NY', 'USA', 'state', '10', 'current', 'occupied', '', '36', 'N.Y.', 'II', '1', 'Northeast', '2', 'Mid-Atlantic', '2')]