### Combining rows of data
The dataset you'll be working with here relates to NYC Uber data. The original dataset has all the originating Uber pickup locations by time and latitude and longitude. For didactic purposes, you'll be working with a very small portion of the actual data.

Three DataFrames have been pre-loaded: uber1, which contains data for April 2014, uber2, which contains data for May 2014, and uber3, which contains data for June 2014. Your job in this exercise is to concatenate these DataFrames together such that the resulting DataFrame has the data for all three months.

Begin by exploring the structure of these three DataFrames in the IPython Shell using methods such as .head().

### Instructions

- Concatenate uber1, uber2, and uber3 together using pd.concat(). You'll have to pass the DataFrames in as a list.
- Print the shape and then the head of the concatenated DataFrame, row_concat.

In [1]:
import pandas as pd
weather=pd.read_csv('weather.txt')
weather2=pd.read_csv('weather2.txt')
weather3=pd.read_csv('weather3.txt')
weather4=pd.read_csv('weather4.txt')

In [9]:
weather3.city  
#  = pd.read_fwf('visited.csv',sep=',')
# df.to_csv('visited.csv')

0    new york
1    new york
2    new york
3    new york
4    new york
5    new york
Name: city, dtype: object

In [2]:
# Concatenate ebola_melt and status_country column-wise: ebola_tidy
ebola_tidy = pd.concat(
    [weather, weather2, weather3, weather4]
)  # cannot concatenate object of type "<class 'str'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

C:\Users\shakib\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
print(ebola_tidy)

   berlin  chennai  chicago      city       date        day  humidity  \
0     NaN      NaN      NaN  new york   5/1/2017        NaN      56.0
1     NaN      NaN      NaN  new york   5/2/2017        NaN      58.0
2     NaN      NaN      NaN  new york   5/3/2017        NaN      60.0
3     NaN      NaN      NaN    mumbai   5/1/2017        NaN      80.0
4     NaN      NaN      NaN    mumbai   5/2/2017        NaN      83.0
5     NaN      NaN      NaN    mumbai   5/3/2017        NaN      85.0
6     NaN      NaN      NaN   beijing   5/1/2017        NaN      26.0
7     NaN      NaN      NaN   beijing   5/2/2017        NaN      30.0
8     NaN      NaN      NaN   beijing   5/3/2017        NaN      35.0
0     NaN      NaN      NaN  new york   5/1/2017        NaN      56.0
1     NaN      NaN      NaN  new york   5/1/2017        NaN      54.0
2     NaN      NaN      NaN  new york   5/2/2017        NaN      60.0
3     NaN      NaN      NaN  new york   5/2/2017        NaN      62.0
4     NaN      NaN      NaN    mumbai   5/1/2017        NaN      80.0
5     NaN      NaN      NaN    mumbai   5/1/2017        NaN      83.0
6     NaN      NaN      NaN    mumbai   5/2/2017        NaN      85.0
7     NaN      NaN      NaN    mumbai   5/2/2017        NaN      26.0
0     NaN      NaN      NaN  new york   5/1/2017        NaN      56.0
1     NaN      NaN      NaN  new york   5/2/2017        NaN      54.0
2     NaN      NaN      NaN  new york   5/3/2017        NaN      60.0
3     NaN      NaN      NaN  new york  12/1/2017        NaN      50.0
4     NaN      NaN      NaN  new york  12/2/2017        NaN      52.0
5     NaN      NaN      NaN  new york  12/3/2017        NaN      51.0
0    41.0     75.0     32.0       NaN        NaN     Monday       NaN
1    43.0     77.0     30.0       NaN        NaN    Tuesday       NaN
2    45.0     75.0     28.0       NaN        NaN  Wednesday       NaN
3    38.0     82.0     22.0       NaN        NaN   Thursday       NaN
4    30.0     83.0     30.0       NaN        NaN     Friday       NaN
5    45.0     81.0     20.0       NaN        NaN   Saturday       NaN
6    47.0     77.0     25.0       NaN        NaN     Sunday       NaN

   temperature
0         65.0
1         66.0
2         68.0
3         75.0
4         78.0
5         82.0
6         80.0
7         77.0
8         79.0
0         65.0
1         61.0
2         70.0
3         72.0
4         75.0
5         78.0
6         82.0
7         80.0
0         65.0
1         61.0
2         70.0
3         30.0
4         28.0
5         25.0
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN

In [4]:
# Print the shape of row_concat
print(ebola_tidy.shape)

# Print the head of row_concat
print(ebola_tidy.head())

(30, 8)
   berlin  chennai  chicago      city      date  day  humidity  temperature
0     NaN      NaN      NaN  new york  5/1/2017  NaN      56.0         65.0
1     NaN      NaN      NaN  new york  5/2/2017  NaN      58.0         66.0
2     NaN      NaN      NaN  new york  5/3/2017  NaN      60.0         68.0
3     NaN      NaN      NaN    mumbai  5/1/2017  NaN      80.0         75.0
4     NaN      NaN      NaN    mumbai  5/2/2017  NaN      83.0         78.0

In [5]:
help('pandas.concat')

Help on function concat in pandas:

pandas.concat = concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series, DataFrame, or Panel objects
        If a dict is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis(es)
    join_axes : list of Index objects
        Specific indexes to use for the other n - 1 axes instead of performing
        inner/outer set logic
    ignore_index : boolean, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys
    names : list, default None
        Names for the levels in the resulting hierarchical index
    verify_integrity : boolean, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation
    sort : boolean, default None
        Sort non-concatenation axis if it is not already aligned when `join`
        is 'outer'. The current default of sorting is deprecated and will
        change to not-sorting in a future version of pandas.

        Explicitly pass ``sort=True`` to silence the warning and sort.
        Explicitly pass ``sort=False`` to silence the warning and not sort.

        This has no effect when ``join='inner'``, which already preserves
        the order of the non-concatenation axis.

        .. versionadded:: 0.23.0

    copy : boolean, default True
        If False, do not copy data unnecessarily

    Returns
    -------
    concatenated : object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    Series.append
    DataFrame.append
    DataFrame.join
    DataFrame.merge

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <http://pandas.pydata.org/pandas-docs/stable/merging.html>`__.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2',])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']