### Combining columns of data
Think of column-wise concatenation of data as stitching data together from the sides instead of the top and bottom. To perform this action, you use the same pd.concat() function, but this time with the keyword argument axis=1. The default, axis=0, is for a row-wise concatenation.

You'll return to the Ebola dataset you worked with briefly in the last chapter. It has been pre-loaded into a DataFrame called ebola_melt. In this DataFrame, the status and country of a patient is contained in a single column. This column has been parsed into a new DataFrame, status_country, where there are separate columns for status and country.

Explore the ebola_melt and status_country DataFrames in the IPython Shell. Your job is to concatenate them column-wise in order to obtain a final, clean DataFrame.

### Instructions

- Concatenate ebola_melt and status_country column-wise into a single DataFrame called ebola_tidy. Be sure to specify axis=1 and to pass the two DataFrames in as a list.
- Print the shape and then the head of the concatenated DataFrame, ebola_tidy.

In [1]:
import pandas as pd
weather=pd.read_csv('weather.txt')
weather2=pd.read_csv('weather2.txt')
weather3=pd.read_csv('weather3.txt')
weather4=pd.read_csv('weather4.txt')

In [2]:
# Concatenate ebola_melt and status_country column-wise: ebola_tidy
ebola_tidy = pd.concat(
    [weather, weather2, weather3, weather4],   axis=1
)  # cannot concatenate object of type "<class 'str'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [3]:
print(ebola_tidy)

       date      city  temperature  humidity      date      city  temperature  \
0  5/1/2017  new york           65        56  5/1/2017  new york         65.0
1  5/2/2017  new york           66        58  5/1/2017  new york         61.0
2  5/3/2017  new york           68        60  5/2/2017  new york         70.0
3  5/1/2017    mumbai           75        80  5/2/2017  new york         72.0
4  5/2/2017    mumbai           78        83  5/1/2017    mumbai         75.0
5  5/3/2017    mumbai           82        85  5/1/2017    mumbai         78.0
6  5/1/2017   beijing           80        26  5/2/2017    mumbai         82.0
7  5/2/2017   beijing           77        30  5/2/2017    mumbai         80.0
8  5/3/2017   beijing           79        35       NaN       NaN          NaN

   humidity       date      city  temperature  humidity        day  chicago  \
0      56.0   5/1/2017  new york         65.0      56.0     Monday     32.0
1      54.0   5/2/2017  new york         61.0      54.0    Tuesday     30.0
2      60.0   5/3/2017  new york         70.0      60.0  Wednesday     28.0
3      62.0  12/1/2017  new york         30.0      50.0   Thursday     22.0
4      80.0  12/2/2017  new york         28.0      52.0     Friday     30.0
5      83.0  12/3/2017  new york         25.0      51.0   Saturday     20.0
6      85.0        NaN       NaN          NaN       NaN     Sunday     25.0
7      26.0        NaN       NaN          NaN       NaN        NaN      NaN
8       NaN        NaN       NaN          NaN       NaN        NaN      NaN

   chennai  berlin
0     75.0    41.0
1     77.0    43.0
2     75.0    45.0
3     82.0    38.0
4     83.0    30.0
5     81.0    45.0
6     77.0    47.0
7      NaN     NaN
8      NaN     NaN

In [4]:
# Print the shape of row_concat
print(ebola_tidy.shape)

# Print the head of row_concat
print(ebola_tidy.head())

(9, 16)
       date      city  temperature  humidity      date      city  temperature  \
0  5/1/2017  new york           65        56  5/1/2017  new york         65.0
1  5/2/2017  new york           66        58  5/1/2017  new york         61.0
2  5/3/2017  new york           68        60  5/2/2017  new york         70.0
3  5/1/2017    mumbai           75        80  5/2/2017  new york         72.0
4  5/2/2017    mumbai           78        83  5/1/2017    mumbai         75.0

   humidity       date      city  temperature  humidity        day  chicago  \
0      56.0   5/1/2017  new york         65.0      56.0     Monday     32.0
1      54.0   5/2/2017  new york         61.0      54.0    Tuesday     30.0
2      60.0   5/3/2017  new york         70.0      60.0  Wednesday     28.0
3      62.0  12/1/2017  new york         30.0      50.0   Thursday     22.0
4      80.0  12/2/2017  new york         28.0      52.0     Friday     30.0

   chennai  berlin
0     75.0    41.0
1     77.0    43.0
2     75.0    45.0
3     82.0    38.0
4     83.0    30.0