In [11]:
# Import package
import pandas as pd

### Assign the URL of the file to the variable url.

In [12]:
# Assign url of file: url
url=('http://s3.amazonaws.com/assets.datacamp.com/course/importing_data_into_r/latitude.xls')

### Read the file in url into a dictionary xl using pd.read_excel() recalling that, in order to import all sheets you need to pass None to the argument sheetname.

In [17]:
# Read in all sheets of Excel file: xl
xl=pd.read_excel(url, sheetname=None)
#print(xl.sheet_names) doesn't work because it is dictionary, here there is no file. 
# the output of pd.read_excel() is a Python dictionary with sheet names as keys and corresponding DataFrames as corresponding values.

C:\Users\shakib\Anaconda3\lib\site-packages\pandas\util\_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

### Print the names of the sheets in the Excel spreadsheet; these will be the keys of the dictionary xl.

In [14]:
# Print the sheetnames to the shell
print(xl.keys())

odict_keys(['1700', '1900'])

### Print the head of the first sheet using the sheet name, not the index of the sheet! The sheet name is '1700'

In [20]:
# Print the head of the first sheet (using its name, NOT its index)
print(xl['1700'])

                      country       1700
0                 Afghanistan  34.565000
1       Akrotiri and Dhekelia  34.616667
2                     Albania  41.312000
3                     Algeria  36.720000
4              American Samoa -14.307000
5                     Andorra  42.546000
6                      Angola  -8.843000
7                    Anguilla  18.250000
8         Antigua and Barbuda  17.072000
9                   Argentina -36.676000
10                    Armenia  40.254000
11                      Aruba  12.513000
12                  Australia -32.219000
13                    Austria  48.231000
14                 Azerbaijan  40.352000
15                    Bahamas  24.700000
16                    Bahrain  26.024000
17                 Bangladesh  23.880000
18                   Barbados  13.179000
19                    Belarus  53.547090
20                    Belgium  50.837000
21                     Belize  17.843000
22                      Benin   6.364000
23                    Bermuda  32.217000
24                     Bhutan  27.479000
25                    Bolivia -15.190000
26     Bosnia and Herzegovina  44.175010
27                   Botswana -21.536000
28                     Brazil -19.557000
29     British Virgin Islands  18.500000
..                        ...        ...
216                      Togo   6.194000
217                   Tokelau  -9.000000
218                     Tonga -21.173000
219       Trinidad and Tobago  10.418000
220                   Tunisia  36.816000
221                    Turkey  41.202000
222              Turkmenistan  39.129380
223  Turks and Caicos Islands  21.750000
224                    Tuvalu  -8.000000
225                    Uganda   0.228000
226                   Ukraine  50.281000
227      United Arab Emirates  23.390000
228            United Kingdom  51.510000
229             United States  34.360000
230                   Uruguay -34.822000
231                      USSR        NaN
232                Uzbekistan  41.272000
233          Wallis et Futuna -13.300000
234                   Vanuatu -15.233000
235                 Venezuela   9.843000
236        West Bank and Gaza  31.416667
237              West Germany        NaN
238            Western Sahara  24.619130
239                   Vietnam  10.798000
240     Virgin Islands (U.S.)  17.736000
241               Yemen, Rep.  15.228000
242                Yugoslavia        NaN
243                    Zambia -12.942000
244                  Zimbabwe -17.876000
245                     Ã…land  60.000000

[246 rows x 2 columns]

In [19]:
xl

OrderedDict([('1700',                       country       1700
              0                 Afghanistan  34.565000
              1       Akrotiri and Dhekelia  34.616667
              2                     Albania  41.312000
              3                     Algeria  36.720000
              4              American Samoa -14.307000
              5                     Andorra  42.546000
              6                      Angola  -8.843000
              7                    Anguilla  18.250000
              8         Antigua and Barbuda  17.072000
              9                   Argentina -36.676000
              10                    Armenia  40.254000
              11                      Aruba  12.513000
              12                  Australia -32.219000
              13                    Austria  48.231000
              14                 Azerbaijan  40.352000
              15                    Bahamas  24.700000
              16                    Bahrain  26.024000
              17                 Bangladesh  23.880000
              18                   Barbados  13.179000
              19                    Belarus  53.547090
              20                    Belgium  50.837000
              21                     Belize  17.843000
              22                      Benin   6.364000
              23                    Bermuda  32.217000
              24                     Bhutan  27.479000
              25                    Bolivia -15.190000
              26     Bosnia and Herzegovina  44.175010
              27                   Botswana -21.536000
              28                     Brazil -19.557000
              29     British Virgin Islands  18.500000
              ..                        ...        ...
              216                      Togo   6.194000
              217                   Tokelau  -9.000000
              218                     Tonga -21.173000
              219       Trinidad and Tobago  10.418000
              220                   Tunisia  36.816000
              221                    Turkey  41.202000
              222              Turkmenistan  39.129380
              223  Turks and Caicos Islands  21.750000
              224                    Tuvalu  -8.000000
              225                    Uganda   0.228000
              226                   Ukraine  50.281000
              227      United Arab Emirates  23.390000
              228            United Kingdom  51.510000
              229             United States  34.360000
              230                   Uruguay -34.822000
              231                      USSR        NaN
              232                Uzbekistan  41.272000
              233          Wallis et Futuna -13.300000
              234                   Vanuatu -15.233000
              235                 Venezuela   9.843000
              236        West Bank and Gaza  31.416667
              237              West Germany        NaN
              238            Western Sahara  24.619130
              239                   Vietnam  10.798000
              240     Virgin Islands (U.S.)  17.736000
              241               Yemen, Rep.  15.228000
              242                Yugoslavia        NaN
              243                    Zambia -12.942000
              244                  Zimbabwe -17.876000
              245                     Ã…land  60.000000

              [246 rows x 2 columns]),
             ('1900',                       country       1900
              0                 Afghanistan  34.565000
              1       Akrotiri and Dhekelia  34.616667
              2                     Albania  41.312000
              3                     Algeria  36.720000
              4              American Samoa -14.307000
              5                     Andorra  42.546000
              6                      Angola  -8.843000
              7                    Anguilla  18.250000
              8         Antigua and Barbuda  17.072000
              9                   Argentina -36.676000
              10                    Armenia  40.254000
              11                      Aruba  12.513000
              12                  Australia -32.219000
              13                    Austria  48.231000
              14                 Azerbaijan  40.352000
              15                    Bahamas  24.700000
              16                    Bahrain  26.024000
              17                 Bangladesh  23.880000
              18                   Barbados  13.179000
              19                    Belarus  53.547090
              20                    Belgium  50.837000
              21                     Belize  17.843000
              22                      Benin   6.364000
              23                    Bermuda  32.217000
              24                     Bhutan  27.479000
              25                    Bolivia -15.190000
              26     Bosnia and Herzegovina  44.175010
              27                   Botswana -21.536000
              28                     Brazil -19.557000
              29     British Virgin Islands  18.500000
              ..                        ...        ...
              216                      Togo   6.194000
              217                   Tokelau  -9.000000
              218                     Tonga -21.173000
              219       Trinidad and Tobago  10.418000
              220                   Tunisia  36.816000
              221                    Turkey  41.202000
              222              Turkmenistan  39.129380
              223  Turks and Caicos Islands  21.750000
              224                    Tuvalu  -8.000000
              225                    Uganda   0.228000
              226                   Ukraine  50.281000
              227      United Arab Emirates  23.390000
              228            United Kingdom  51.510000
              229             United States  34.360000
              230                   Uruguay -34.822000
              231                      USSR        NaN
              232                Uzbekistan  41.272000
              233          Wallis et Futuna -13.300000
              234                   Vanuatu -15.233000
              235                 Venezuela   9.843000
              236        West Bank and Gaza  31.416667
              237              West Germany        NaN
              238            Western Sahara  24.619130
              239                   Vietnam  10.798000
              240     Virgin Islands (U.S.)  17.736000
              241               Yemen, Rep.  15.228000
              242                Yugoslavia        NaN
              243                    Zambia -12.942000
              244                  Zimbabwe -17.876000
              245                     Ã…land  60.000000

              [246 rows x 2 columns])])