In [1]:
import pandas as pd
df=pd.read_csv('weather.txt')

# Print the head of airquality
print(df.head())

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  5/2/2017    mumbai           78        83

In [2]:
df.pivot(index='date', columns='city')

         temperature                 humidity
city         beijing mumbai new york  beijing mumbai new york
date
5/1/2017          80     75       65       26     80       56
5/2/2017          77     78       66       30     83       58
5/3/2017          79     82       68       35     85       60

In [19]:
df['temperature']

0    65
1    61
2    70
3    30
4    28
5    25
Name: temperature, dtype: int64

In [18]:
df['temperature']['beijing']

KeyError: 'beijing'

In [20]:
df['beijing']

KeyError: 'beijing'

In [4]:
df.pivot(index='date', columns='city', values='humidity')

city      beijing  mumbai  new york
date
5/1/2017       26      80        56
5/2/2017       30      83        58
5/3/2017       35      85        60

In [5]:
df.pivot(index='city', columns='date')

         temperature                   humidity
date        5/1/2017 5/2/2017 5/3/2017 5/1/2017 5/2/2017 5/3/2017
city
beijing           80       77       79       26       30       35
mumbai            75       78       82       80       83       85
new york          65       66       68       56       58       60

### margins

In [6]:
import numpy as np
import pandas as pd

df=pd.read_csv('weather2.txt')  ### same city many times
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/1/2017  new york           61        54
2  5/2/2017  new york           70        60
3  5/2/2017  new york           72        62
4  5/1/2017    mumbai           75        80
5  5/1/2017    mumbai           78        83
6  5/2/2017    mumbai           82        85
7  5/2/2017    mumbai           80        26

In [7]:
df.pivot_table(index="city",columns="date") ### takes avarage

         humidity          temperature
date     5/1/2017 5/2/2017    5/1/2017 5/2/2017
city
mumbai       81.5     55.5        76.5     81.0
new york     55.0     61.0        63.0     71.0

In [8]:
df.pivot_table(index="city", columns="date", aggfunc='mean')

         humidity          temperature
date     5/1/2017 5/2/2017    5/1/2017 5/2/2017
city
mumbai       81.5     55.5        76.5     81.0
new york     55.0     61.0        63.0     71.0

In [9]:
df.pivot_table(index="city", columns="date", margins=True, aggfunc=np.sum)

         humidity               temperature
date     5/1/2017 5/2/2017  All    5/1/2017 5/2/2017  All
city
mumbai        163      111  274         153      162  315
new york      110      122  232         126      142  268
All           273      233  506         279      304  583

In [10]:
df.pivot_table(index="city", columns="date", margins=True, aggfunc='count')

         humidity              temperature
date     5/1/2017 5/2/2017 All    5/1/2017 5/2/2017 All
city
mumbai          2        2   4           2        2   4
new york        2        2   4           2        2   4
All             4        4   8           4        4   8

In [11]:
df=pd.read_csv('weather3.txt')
df

        date      city  temperature  humidity
0   5/1/2017  new york           65        56
1   5/2/2017  new york           61        54
2   5/3/2017  new york           70        60
3  12/1/2017  new york           30        50
4  12/2/2017  new york           28        52
5  12/3/2017  new york           25        51

In [12]:
df['date']

0     5/1/2017
1     5/2/2017
2     5/3/2017
3    12/1/2017
4    12/2/2017
5    12/3/2017
Name: date, dtype: object

In [13]:
df['date']=pd.to_datetime(df['date'])

In [14]:
df['date']

0   2017-05-01
1   2017-05-02
2   2017-05-03
3   2017-12-01
4   2017-12-02
5   2017-12-03
Name: date, dtype: datetime64[ns]

In [15]:
type(df['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [16]:
df.pivot_table(index=pd.Grouper(freq='M', key='date'), columns='city')

             humidity temperature
city         new york    new york
date
2017-05-31  56.666667   65.333333
2017-12-31  51.000000   27.666667

![title](1.png)

![](2.png)