>In this exercise, your job is to create an engine to the database that will be used in this chapter. Then, you need to initialize its metadata.

?Recall how you did this in Chapter 1 by leveraging create_engine() and MetaData.

### Import create_engine and MetaData from sqlalchemy

In [102]:
# Import create_engine, MetaData
from sqlalchemy import create_engine, MetaData

### Create an engine to the chapter 5 database by using 'sqlite:///chapter5.sqlite' as the connection string.

In [103]:
# Define an engine to connect to chapter5.sqlite: engine
engine = create_engine('sqlite:///census.sqlite')

### Create a MetaData object as metadata.

In [104]:
# Initialize MetaData: metadata
metadata = MetaData()

>Having setup the engine and initialized the metadata, you will now define the census table object and then create it in the database using the metadata and engine from the previous exercise. To create it in the database, you will have to use the .create_all() method on the metadata with engine as the argument.

>It may help to refer back to the Chapter 4 exercise in which you learned how to create a table.

### Import Table, Column, String, and Integer from sqlalchemy.

In [105]:
# Import Table, Column, String, and Integer
from sqlalchemy import Table, Column, String, Integer

### Define a census table with the following columns:
'state' - String - length of 30
'sex' - String - length of 1
'age' - Integer
'pop2000' - Integer
'pop2008' - Integer

In [106]:
# Build a census table: census
census = Table('census', metadata,
               Column('state', String(30)),
               Column('sex', String(1)),
               Column('age', Integer()),
               Column('pop2000', Integer()),
               Column('pop2008',Integer())
               )

Create the table in the database using the metadata and engine###

In [107]:
# Create the table in the database
metadata.create_all(engine)

Leverage the Python CSV module from the standard library and load the data into a list of dictionaries.

It may help to refer back to the Chapter 4 exercise in which you did something similar.

### Create an empty list called values_list.

In [108]:
# Create an empty list: values_list
values_list = []

### Iterate over the rows of csv_reader with a for loop, creating a dictionary called data for each row and append it to values_list.

### Within the for loop, row will be a list whose entries are 'state' , 'sex', 'age', 'pop2000' and 'pop2008' (in that order).

In [109]:
import csv
csv_reader = csv.reader('census', delimiter=',')

In [110]:
# Iterate over the rows
for row in csv_reader:
    # Create a dictionary with the values
    data = {'state': row[0], 'sex': row[1], 'age':row[2], 'pop2000': row[3],
            'pop2008':row[4]}
    # Append the dictionary to the values list
    values_list.append(data)

IndexError: list index out of range

>Using the multiple insert pattern, in this exercise, you will load the data from values_list into the table.

### Import insert from sqlalchemy

In [ ]:
# Import insert
from sqlalchemy import insert

### Build an insert statement for the census table.

In [ ]:
# Build insert statement: stmt
stmt=insert(census)

### Execute the statement stmt along with values_list. You will need to pass them both as arguments to connection.execute().

In [ ]:
connection=engine.connect()

In [ ]:
# Use values_list to insert data: results
results=connection.execute(stmt, values_list)

### Print the rowcount attribute of results

In [ ]:
# Print rowcount
print(results.rowcount)

>In this exercise, you will use the func.sum() and group_by() methods to first determine the average age weighted by the population in 2008, and then group by sex.

>As Jason discussed in the video, a weighted average is calculated as the sum of the product of the weights and averages divided by the sum of all the weights.

>For example, the following statement determines the average age weighted by the population in 2000:

> stmt = select([census.columns.sex,
               (func.sum(census.columns.pop2000 * census.columns.age) /
                func.sum(census.columns.pop2000)).label('average_age')
               ])

### Import select from sqlalchemy.

In [ ]:
# Import select
from sqlalchemy import select,func,insert

### Build a statement to:
     Select sex from the census table.
     Select the average age weighted by the population in 2008 (pop2008). See the example given in the assignment text  to see  how you can do this. Label this average age calculation as 'average_age'.

In [ ]:
# Calculate weighted average age: stmt
stmt = select([census.columns.sex,
               (func.sum(census.columns.age * census.columns.pop2008) /
                func.sum(census.columns.pop2008)).label('average_age')
               ])

### Group the query by sex.

In [ ]:
# Group by sex
stmt = stmt.group_by(census.columns.sex)

### Execute the query and store it as results.

In [ ]:
connection=engine.connect()

In [ ]:
# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

### Loop over results and print the sex and average_age for each record.

In [ ]:
# Print the average age by sex
for result in results:
    print(result.sex, result.average_age)

In this exercise, you will write a query to determine the percentage of the population in 2000 that comprised of women. You will group this query by state.

### Import case, cast and Float from sqlalchemy.

In [ ]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float,func,desc

### Define a statement to select state and the percentage of females in 2000.
Inside func.sum(), use case() to select females (using the sex column) from pop2000. Remember to specify else_=0 if the sex is not 'F'.
To get the percentage, divide the number of females in the year 2000 by the overall population in 2000. Cast the divisor - census.columns.pop2000 - to Float before multiplying by 100.

In [ ]:
# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([census.columns.state,
    (func.sum(
        case([
            (census.columns.sex == 'F', census.columns.pop2000)
             ], else_=0)) /
        cast(func.sum(census.columns.pop2000), Float) * 100).label('percent_female')
    ])

### Group the query by state

In [ ]:
# Group By state
stmt = stmt.group_by(census.columns.state)

### Execute the query and store it as results.

In [ ]:
connection=engine.connect()

In [ ]:
# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

### Print state and percent_female for each record. This has been done for you, so hit 'Submit Answer' to see the result.

In [ ]:
# Print the percentage
for result in results:
    print(result.state, result.percent_female)

In [ ]:
In this final exercise, you will write a query to calculate the states that changed the most in population. You will limit your query to display only the top 10 states

### Build a statement to:
       Select state.
       Calculate the difference in population between 2008 (pop2008) and 2000 (pop2000).

In [ ]:
# Build query to return state name and population difference from 2008 to 2000
stmt = select([census.columns.state,
     (census.columns.pop2008-census.columns.pop2000).label('pop_change')
])

### Group the query by census.columns.state using the .group_by() method on stmt.

In [ ]:
# Group by State
stmt = stmt.group_by(census.columns.state)

### Order by 'pop_change' in descending order using the .order_by() method with the desc() function on 'pop_change'.

In [ ]:
# Order by Population Change
stmt = stmt.order_by(desc('pop_change'))

### Limit the query to the top 10 states using the .limit() method.

In [ ]:
# Limit to top 10
stmt = stmt.limit(10)

### Execute the query and store it as results.

In [ ]:
# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

### Print the state and the population change for each result. This has been done for you, so hit 'Submit Answer' to see the result!

In [ ]:
# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))