In [1]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Create engine: engine
engine=create_engine('sqlite:///Chinook.sqlite')

### Use the pandas function read_sql_query() to assign to the variable df the DataFrame of results from the following query: select all records from the table Album.

In [3]:
# Execute query and store records in DataFrame: df
df = pd.read_sql_query("Select * FROM Album", engine)

In [4]:
# Print head of DataFrame
print(df.head())

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3