### Import the pandas package using the alias pd.

In [38]:
# Import pandas as pd
import pandas as pd
import re

### Read titanic.txt into a DataFrame called df. The file name is already stored in the file object.

In [100]:
# Assign the filename: file
file = 'titanic.txt'

# Read the file into a DataFrame: df
df1 = pd.read_csv(file,sep="'|,",header=None,regex=True)
#df=pd.DataFrame(df1,sep=",")

TypeError: parser_f() got an unexpected keyword argument 'regex'

### In a print() call, view the head of the DataFrame.

In [90]:
# View the head of the DataFrame
df.head()
#must give ()

,0,1,2,3,4,5,6,7,8
0,"[(1, 0, 3, b",male,", 22.0, 1, 0, b",A/5 21171,", 7.25, b",NaN,", b",S,)
1,"(2, 1, 1, b",female,", 38.0, 1, 0, b",PC 17599,", 71.2833, b",C85,", b",C,)
2,"(3, 1, 3, b",female,", 26.0, 0, 0, b",STON/O2. 3101282,", 7.925, b",NaN,", b",S,)
3,"(4, 1, 1, b",female,", 35.0, 1, 0, b",113803,", 53.1, b",C123,", b",S,)
4,"(5, 0, 3, b",male,", 35.0, 0, 0, b",373450,", 8.05, b",NaN,", b",S,)