### Import titanic.csv using the function np.recfromcsv() and assign it to the variable, d. You'll only need to pass file to it because it has the defaults delimiter=',' and names=True in addition to dtype=None!

In [4]:
import numpy as np
import pandas as pd

In [5]:
# Assign the filename: file
file = 'titanic.txt'

# Import file using np.recfromcsv: d
df=pd.read_table(file,delimiter=',',header=None)
#header none

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,[(1,0,3,b'male',22.0,1,0,b'A/5 21171',7.2500,b'',b'S')
1,(2,1,1,b'female',38.0,1,0,b'PC 17599',71.2833,b'C85',b'C')
2,(3,1,3,b'female',26.0,0,0,b'STON/O2. 3101282',7.9250,b'',b'S')
3,(4,1,1,b'female',35.0,1,0,b'113803',53.1000,b'C123',b'S')
4,(5,0,3,b'male',35.0,0,0,b'373450',8.0500,b'',b'S')

In [9]:
rename=['serial','family_member','pl_class','gender','age','sibsp','parch' ,'ticket','fare','cabin','eambarked']
df.columns=rename

In [10]:
change=df.serial

In [179]:
change.strip().str.replace.str.replace('(', ' ').str.replace(')', ' ')

AttributeError: 'Series' object has no attribute 'strip'

In [ ]:
# # df['BrandName'].replace(['ABC', 'AB'], 'A')

In [187]:
%timeit change.str.replace('(', ' ')

785 µs ± 46.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [181]:
change

0        [(1
1         (2
2         (3
3         (4
4         (5
5         (6
6         (7
7         (8
8         (9
9        (10
10       (11
11       (12
12       (13
13       (14
14       (15
15       (16
16       (17
17       (18
18       (19
19       (20
20       (21
21       (22
22       (23
23       (24
24       (25
25       (26
26       (27
27       (28
28       (29
29       (30
       ...
861     (862
862     (863
863     (864
864     (865
865     (866
866     (867
867     (868
868     (869
869     (870
870     (871
871     (872
872     (873
873     (874
874     (875
875     (876
876     (877
877     (878
878     (879
879     (880
880     (881
881     (882
882     (883
883     (884
884     (885
885     (886
886     (887
887     (888
888     (889
889     (890
890     (891
Name: serial, Length: 891, dtype: object

In [186]:
%timeit change.apply(lambda x: x.replace('(', ' '))

861 µs ± 160 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [217]:
f=change.apply(lambda x: x.strip('('))
f

0        [(1
1         (2
2         (3
3         (4
4         (5
5         (6
6         (7
7         (8
8         (9
9        (10
10       (11
11       (12
12       (13
13       (14
14       (15
15       (16
16       (17
17       (18
18       (19
19       (20
20       (21
21       (22
22       (23
23       (24
24       (25
25       (26
26       (27
27       (28
28       (29
29       (30
       ...
861     (862
862     (863
863     (864
864     (865
865     (866
866     (867
867     (868
868     (869
869     (870
870     (871
871     (872
872     (873
873     (874
874     (875
875     (876
876     (877
877     (878
878     (879
879     (880
880     (881
881     (882
882     (883
883     (884
884     (885
885     (886
886     (887
887     (888
888     (889
889     (890
890     (891
Name: serial, Length: 891, dtype: object

In [201]:
%timeit change.apply(lambda x: x.strip('('))

649 µs ± 98.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [209]:
%timeit [x.strip('(') for x in change]

257 µs ± 45.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [219]:
%timeit [x[1:] for x in change]

178 µs ± 32.2 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [240]:
np.fromstring(change.values.astype(''|S6').tobytes().replace('$',' '), dtype='|S6')

SyntaxError: invalid syntax (<ipython-input-240-c42e21e5bc1a>, line 1)

In [242]:
np.fromstring(change.values.astype('|S7').tobytes().replace(change,b'$',b''), dtype='|S6')

TypeError: a bytes-like object is required, not 'Series'