In [1]:
import pandas as pd

In [2]:
file = 'battledeath.xls'

In [5]:
xl = pd.ExcelFile(file)

In [6]:
xl.sheet_names

['bdonly']

### Parse the first sheet by index. In doing so, skip the first row of data and name the columns using the argument names. The values passed to skiprows and names all need to be of type list.

In [26]:
# Parse the first sheet and rename the columns: df1
df1 = xl.parse(0, skiprows=[0],header = None)
#df1 = xl.parse(0, skiprows=[0], names=['Country', 'AAM due to War (2002)']) # if need to apply column names

In [23]:
# Print the head of the DataFrame df1
print(df1.head())

   0     1     2     3     4   5   6    7         8        9    ...   22  \
0   1  1946  1000  9999  1000   2   1  3.1   Bolivia  Bolivia   ...    1
1   1  1952   450  3000  -999   2   1  3.1   Bolivia  Bolivia   ...    1
2   1  1967    25   999    82   2   1  3.1   Bolivia  Bolivia   ...    1
3   2  1946    25   999  -999   0   0  3.1  Cambodia   France   ...    0
4   2  1947    25   999  -999   0   0  3.1  Cambodia   France   ...    0

          23    24   25   26   27   28   29 30      31
0 1946-07-21 -99.0  145  NaN  NaN  NaN  145  5  2009-4
1 1952-04-12 -99.0  145  NaN  NaN  NaN  145  5  2009-4
2 1967-10-16 -99.0  145  NaN  NaN  NaN  145  5  2009-4
3        NaT   NaN  220  NaN  NaN  NaN  811  3  2009-4
4        NaT   NaN  220  NaN  NaN  NaN  811  3  2009-4

[5 rows x 32 columns]

### Parse the sheet by index. In doing so, parse only the first column with the parse_cols parameter, skip the first row and rename the column 'Country'. The argument passed to parse_cols also needs to be of type list.

In [36]:
# Parse the first column of the second sheet and rename the column: df2
df2 = xl.parse(0, parse_cols=[1], skiprows=[0],header=None)
#df2 = xl.parse(1, parse_cols=[0], skiprows=0, names=['AAM due to War (2002)'])

In [40]:
# Print the head of the DataFrame df2
print(df2.head())
df2.columns

   0     1     2     3     4   5   6    7         8        9    ...   22  \
0   1  1946  1000  9999  1000   2   1  3.1   Bolivia  Bolivia   ...    1
1   1  1952   450  3000  -999   2   1  3.1   Bolivia  Bolivia   ...    1
2   1  1967    25   999    82   2   1  3.1   Bolivia  Bolivia   ...    1
3   2  1946    25   999  -999   0   0  3.1  Cambodia   France   ...    0
4   2  1947    25   999  -999   0   0  3.1  Cambodia   France   ...    0

          23    24   25   26   27   28   29 30      31
0 1946-07-21 -99.0  145  NaN  NaN  NaN  145  5  2009-4
1 1952-04-12 -99.0  145  NaN  NaN  NaN  145  5  2009-4
2 1967-10-16 -99.0  145  NaN  NaN  NaN  145  5  2009-4
3        NaT   NaN  220  NaN  NaN  NaN  811  3  2009-4
4        NaT   NaN  220  NaN  NaN  NaN  811  3  2009-4

[5 rows x 32 columns]

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
           dtype='int64')