In [1]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

### Open the engine connection as con using the method connect() on the engine.

In [12]:
# Open engine connection: con
con=engine.connect()
#*.connect()

### Execute the query that selects ALL columns from the Album table. Store the results in rs.

In [4]:
# Perform query: rs
rs = con.execute("Select * from Album")

### Store all of your query results in the DataFrame df by applying the fetchall() method to the results rs.

In [5]:
# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

### Close the connection!

In [11]:
# Close connection
con.close()
#*()

In [14]:
# Print head of DataFrame df
print(df.head())

   0                                      1  2
0  1  For Those About To Rock We Salute You  1
1  2                      Balls to the Wall  2
2  3                      Restless and Wild  2
3  4                      Let There Be Rock  1
4  5                               Big Ones  3