Often, you'll need to perform math operations as part of a query, such as if you wanted to calculate the change in population from 2000 to 2008. For math operations on numbers, the operators in SQLAlchemy work the same way as they do in Python.

You can use these operators to perform addition (+), subtraction (-), multiplication (*), division (/), and modulus (%) operations. Note: They behave differently when used with non-numeric column types.

Let's now find the top 5 states by population growth between 2000 and 2008.

* Define a select statement called stmt to return:
  i) The state column of the census table (census.columns.state).
  ii) The difference in population count between 2008 (census.columns.pop2008) and 2000 (census.columns.pop2000) labeled as   'pop_change'.

In [40]:
# Import create_engine function
from sqlalchemy import create_engine,select, MetaData,Table,desc

In [26]:
import pymysql

In [27]:
# Create an engine to the census database
engine = create_engine('mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census')
    # must ('')

In [46]:
metadata=MetaData()

In [47]:
print(engine.table_names())

['census', 'state_fact']

In [29]:
# Reflect census table from the engine: census
census = Table('census',metadata,autoload=True,autoload_with=engine)

In [30]:
# Build a query for the census table: stmt
stmt = select([census])

In [31]:
# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state, (census.columns.pop2008-census.columns.pop2000).label('pop_change')])

### Group the statement by census.columns.state

In [32]:
# Append group by for the state: stmt
stmt = stmt.group_by(census.columns.state)

### Order the statement by population change ('pop_change') in descending order. Do so by passing it desc('pop_change').

In [41]:
# Append order by for pop_change descendingly: stmt
stmt = stmt.order_by(desc('pop_change'))

### Use the .limit() method on the statement to return only 5 records.

In [42]:
# Return only 5 results: stmt
stmt = stmt.limit(5)

### Execute the statement and fetchall() the records.

In [43]:
connection=engine.connect()

In [44]:
# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

In [45]:
# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357